.content {
  font-size 30px
}

blockquote{
  border-left: 0.4rem solid #42b983;
  background-color: #f3f5f7
  p{
    color: #333;
  }
}

table{
  display: table
}

:root{
  --home-name-background: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486)
}